{% extends 'base.html' %}

{% block content %}

<section class="contact">
    <div class="contact-title">
        <h1>HOW TO CONTACT BLISS SERVICES</h1>
        <h2>CHOOSE YOUR PREFERRED METHOD OF CONTACT AND CONNECT WITH US</h2>
    </div>

    <div class="contact-methods">
        <div class="phone-contact">
            <h1>PHONE</h1>
            <h2>Monday - Saturday from 8AM to 11PM</h1>
            <h3> Call Us  +234 7058708141</h2>
        </div>

        <div class="ig-contact">
            <h1>CHAT ON INSTAGRAM</h1>
            <h2>Monday - Saturday from 8AM to 11PM</h1>
            <a href="">Message Us</a>
        </div>

        <div class="email-contact">
            <h1>EMAIL</h1>
            <h2>Your inquiry will receive a response from a Client Advisor</h2>
            <a href="">Write US</a>    
        </div>

        <div class="whatsapp-contact">
            <h1>CHAT ON WHATSAPP</h1>
            <h2>Monday - Saturday from 8AM to 11PM</h1>
            <a href="">Whatsapp Us</a>
        </div>
    </div>
</section>

{% endblock %}
